*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    text-rendering: optimizeLegibility;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

 .nav-cover {
      background: #000;
      height: 17vh;
      width: 100%;
      position: fixed;
 }

  .nav-contact {
      display: flex;
      padding: .4rem;
      width: 100%;
      justify-content: flex-end;
      /* justify-content: space-evenly; */
  }

   .kd-social-icons {
       display: inline-block;
       /* margin: 0 auto; */
   }

    .kd-phone {
        color: red;
        margin-right: 2rem;
    }

    .topp {
        width: 100%;
    }

    .icons {
        height: 80px;
        width: 80px;
        padding: 10px;
        margin: 0 10px;
        align-items: center;
        border-radius: 2px;
        text-decoration: none;
}

     .nav-body {
         margin-top: 1.5rem;
         display: flex;
         width: 100%;
         justify-content: space-between;
     }

     .size {
        font-size: 1.3rem;
     }

      .nav-logo a {
          text-decoration: none;
          color: #fff;
          margin-left: 20px;
          font-size: 20px;
      }

       .nav-body-list {
           visibility: visible;
       }
      .nav-body-list li {
         display: inline-block;
      }

      .nav-body-list li a {
          text-decoration: none;
          font-weight: bold;
          color: #fff;
          padding: .6rem;
          margin-right: 30px;
      }

      .line1 {
          width: 22px;
          height: 2px;
          margin: 3.5px 0;
          background-color:#fff;
      }

       .line2 {
           width: 22px;
           height: 2px;
           background-color: #fff;
       }

       .line3 {
           width: 22px;
           height: 2px;
           margin-top: 3.5px;
           background-color: #fff;
       }

       @keyframes roll {
           from {
               transform: scale(0.6);
           }
           to {
               transform: scale(0.9);
           }
       }

        .menu-btn {
            background: red;
            border-radius: 1.6rem;
            padding: .8rem;
            width: 150px;
            animation: roll 1.5s infinite ease-in;
        }
      #burger-menu-icon {
          background: gray;
          padding: .6rem;
          cursor: pointer;
          display: none;
      }

      #carouselExampleSlidesOnly {
          z-index: -2;
          top: 17vh;
      }

      #search {
        padding: 5px;
        border: 2px solid #fff;
        outline: none;
        border-radius: 30px;
        font-size: 12px;
        background: none;
        display: none;
    }
    
    #search.move {
        display: inline-block;
    }
    
    @keyframes slide {
        from {
            transform: scale(1.0);
        }
        to {
            transform: translate(8px);
        }
    }
   
    .carousel-inner img {
        animation-name: slide;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
    }
    #burger-menu-icon.times {
        padding-bottom: 2px;
    }
    
    #burger-menu-icon.times .line1 {
         transform: translateY(-3px) rotate(-45deg);
     }
     
     #burger-menu-icon.times .line2 {
         display: none;
     }

     #burger-menu-icon.times .line3 {
         transform: translateY(-8px) rotate(45deg);
     }

      .king {
          background: #000;
          width: 100%;
          height: 600px;
          margin-top: 7rem;
     }

      .king-header {
          text-align: center;
          padding-top: 1.8rem;
          align-items: center;
      }

       .king-header h1 {
           color: #fff;
       }

      .go {
          margin-top: 1.2rem;
          display: flex;
          align-items: center;
          flex-direction: row;
          padding: .6rem;
          flex-wrap: wrap; 
          text-align: center;
      }

      @keyframes anime {
          from {
              transform: scale(0);
          }
          to  {
              transform: scale(1);
          }
      }

      .david {
          max-width: calc(100%/4);
          animation: anime 3s ease-in-out ;
          background: #000;
          border: 3px solid #fff;
          height: auto;
          margin: 0 auto;
          text-align: center;
          display: block;
          padding: .5rem;
          border-radius: 1.8rem;
      }

      .camera {
          border-radius: 50%;
          padding: .8rem;
          width: 80px;
          height: 80px;
          margin-top: .9rem;
          background:red;
          border: 2px solid #fff;
          text-align: center;
          align-items: center;
      }

       #size {
           font-size: 35px;
           color: #fff;
           margin: 0 auto;
           padding: .4rem;
       }
  
      @keyframes pulse {
          from {
              transform: scale(1.0);
          }
          to {
              transform: scale(1.1);
          }
      }   
     
       .camera:hover {
           animation: pulse .4s infinite;
       }

        .head h2, .head p {
            color: #fff;
        }

        .kings-order {
            background: red;
            display: flex;
            margin-top: 1.5rem;
            justify-content: space-around;
            padding: 1.5rem 1rem;
        }

        .kings-content {
            font-family: "Aclonica",Sans-serif !important;
        }

         .kings-content h3 {
             color: #fff;
         }

         .book-btn {
             background: #000;
             color: #fff;
             text-align: center;
             align-items: center;
             border: 4px solid #fff;
             padding: .8rem 1rem;
         }


       @media screen and (max-width:350px) {
            .kd-phone {
                font-size: 13px;
                display: inline-block;
            }
    }
     
        @media screen and (max-width:600px) {
            .kd-phone {
                margin-right: 0;
            }
            .nav-body-list {
                display:none;
            }
            #burger-menu-icon {
                display: block;
                visibility: visible;
                margin-right: .8rem;
            }
            #menu {
                position: absolute; 
                background: #000;
                width: 100%;
                right: -100rem;
                height: 100vh;
                top: 15vh;
                display: block;
                transition: all 0.4s ease-in-out;
                line-height: 3;
            }

            #menu li {
                display: flex;
                flex-direction: column;
                text-align:left;
            }
            #menu li a {
                text-decoration: none;
                font-weight: bold;
                color: #fff;
                padding: .6rem;
            }
            #menu.slide {
                 right: -13rem;
                 transition: all .3s ease;
             }
             #search-me {
                 padding-top: 10px;
                 font-size: 20px;
                 margin-left: -20px;
             }
             .david {
                 max-width: 100%;
                 width: 100%;
                 flex-direction: column;
                 margin-bottom: 1rem;
             }
             .go {
                 flex-direction: column;
             }
             .king {
                 height: auto;
             }
             .kings-order {
                 display: flex;
                 flex-direction: column;
             }
             .kings-content {
                 text-align: center;
                 margin-bottom: 1rem;
             }
             .book-btn {
                 padding: .4rem .6rem;
             }
      }

         @media screen and (min-width:600px) {
            .kd-phone {
                margin-right: 0;
            }
            .nav-body-list {
                display:none;
            }
        
            #burger-menu-icon {
                display: block;
                visibility: visible;
                margin-right: .8rem;
            }
            #menu {
                position: absolute; 
                background: #000;
                width: 100%;
                right: -100%;
                height: 100vh;
                top: 15vh;
                display: block;
                transition: all 0.4s ease-in-out;
                line-height: 3;
            }

            #menu li {
                display: flex;
                flex-direction: column;
                text-align: left;
            }
            #menu li a {
                text-decoration: none;
                font-weight: bold;
                color: #fff;
                padding: .6rem;
            }
     
             #menu.slide {
                 right: -26rem;
                 transition: all .3s ease;
             }
             #search-me {
                 padding-top: 10px;
                 font-size: 20px;
                 margin-left: -20px;
             }
             .david {
                 max-width: 100%;
                 width: 100%;
                 flex-direction: column;
                 margin-bottom: 1rem;
             }
             .go {
                 flex-direction: column;
             }
             .king {
                 height: auto;
             }
         }

         @media screen and (min-width:768px) {
            .kd-phone {
                margin-right: 0;
            }
            .nav-body-list {
                display: block;
            }
            .nav-body-list li {
                display: inline-block;
            }     
            #burger-menu-icon {
                display: none;
                /* margin-right: .8rem; */
            }
             #search-me {
                 padding-top: 10px;
                 font-size: 20px;
                 margin-left: -20px;
             }
             .david {
                 max-width: 100%;
                 width: 100%;
                 flex-direction: column;
                 margin-bottom: 1rem;
             }
             .go {
                 flex-direction: column;
             }
             .king {
                 height: auto;
             }
         }

         @media screen and (min-width:992px) {
            .kd-phone {
                margin-right: 3rem;
            }
        
            #burger-menu-icon {
                display: none;
                margin-right: .8rem;
            }
            .nav-body-list {
                display: block;
            }
            .nav-body-list li {
                display: inline-block;
            }
             #search-me {
                 padding-top: 10px;
                 font-size: 20px;
                 margin-left: -20px;
             }
             .go {
                 flex-direction: row;
                 display: flex;
                 align-items: center;
                 padding: .6rem;
                 flex-wrap: wrap; 
                 text-align: center;
             }
             .david {
                max-width: calc(100%/4);
                flex-direction: row;
                margin: 0 auto;
                margin-bottom: 1rem;
             }
             .king {
                 height: 500px;
             }
         }














